

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Creative Web Logic Network</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="DC.Title" content="Creative Web Logic .Net" />
    <meta name="description" content="Creative Web Logic .Net" />
    <meta name="keywords" content="Creative Web Logic .Net" />
<link rel='shortcut icon' type='image/x-icon' href='https://static-files.creativeworklogic.top/bcms/assets/favicon.ico' />
<link href="https://static-files.creativeworklogic.top/bcms/templates/gcwd/css/general.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="MainBodyCentered">
    	<div id="CompleteHeader">
        	<div id="MainMenu">
            {{file:main_menu.html}}
            </div>
        </div>
        <div id="BodyContent">
        	
        
                <table>
            <tr>
                <td> <img src="http://static-files.creativeworklogic.top/bcms/assets/cwl-wiki-intro.png" width="500px"></td>
                <td  width="50px">
                <br>

                </td>
                <td>
                
                {{main}}

                </td>
            </tr>
        </table>
           
        
        </div>
		<div id="FooterHolder">
        	<div id="FooterMenu">
            	{{file:footer.html}}
                
            </div>
        </div>
	</div>
</body>
</html>
